alabaster==0.7.12
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
behave==1.2.6
certifi==2019.9.11
chardet==3.0.4
Click==7.0
coverage==4.5.4
cx-Oracle==7.2.2
cycler==0.10.0
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
fuzz==0.1.1
fuzzywuzzy==0.17.0
glob2==0.7
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
jdcal==1.4.1
Jinja2==2.10.1
keyring==19.2.0
kiwisolver==1.1.0
Mako==1.1.5
MarkupSafe==1.1.1
matplotlib==3.1.1
more-itertools==7.2.0
numpy==1.17.2
openpyxl==3.0.0
packaging==19.2
pandas==0.25.1
parse==1.19.0
parse-type==0.5.2
pluggy==0.13.0
py==1.8.0
pycryptodome==3.9.0
Pygments==2.4.2
pyparsing==2.4.2
pytest==5.1.3
pytest-bdd==4.1.0
python-dateutil==2.8.0
python-Levenshtein==0.12.0
pytz==2019.2
requests==2.22.0
six==1.12.0
snowballstemmer==1.9.1
sortedcontainers==2.1.0
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
urllib3==1.25.6
wcwidth==0.1.7
xlrd==1.2.0
zipp==0.6.0
